*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.all-gui{
    width: 800px;
    height: 1582px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-2{
    width: 800px;
    height: 1552px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-3{
    width: 800px;
    height: 1350px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-4{
    width: 800px;
    height: 1198px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-5{
    width: 800px;
    height: 1062px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-6{
    width: 800px;
    height: 938px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-7{
    width: 800px;
    height: 1032px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-8{
    width: 800px;
    height: 914px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-9{
    width: 800px;
    height: 1016px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-10{
    width: 800px;
    height: 794px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}
.all-gui-11{
    width: 800px;
    height: 938px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: #F7F9F9;
    position: relative;
}

.text-1{
    position: absolute;
    height: 18px;
    left: 13.63%;
    right: 51.75%;
    top: 57px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #C88A12;
    top:57px;
    left: 109px;
}

.logo-1{
    position: absolute;
    width: 176.33px;
    height: 80px;
    right: 48.67px;
    top: 28px;
}

.main-content{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height: 1112px;
    position: relative;
    padding-top: 16px;
}
.main-content-2{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height: 1082px;
    position: relative;
    padding-top: 16px;
}
.main-content-3{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height: 896px;
    position: relative;
    padding-top: 16px;
}
.main-content-4{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height: 728px;
    position: relative;
    padding-top: 16px;
}
.main-content-5{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height: 592px;
    position: relative;
    padding-top: 16px;
}
.main-content-6{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height: 476px;
    position: relative;
    padding-top: 16px;
}
.main-content-7{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height: 566px;
    position: relative;
    padding-top: 16px;
}
.main-content-8{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height: 444px;
    position: relative;
    padding-top: 16px;
}
.main-content-9{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height: 546px;
    position: relative;
    padding-top: 16px;
}
.main-content-10{
    background: #FFFFFF;   
    margin-left: 70px;
    width: 660px;
    height:458px;
    position: relative;
    padding-top: 16px;
}

.content{
    height: 1130px;
}
.content-2{
    height: 1100px;
}
.content-3{
    height: 914px;
}
.content-4{
    height: 744px;
}
.content-5{
    height: 608px;
}
.content-6{
    height: 488px;
}
.content-7{
    height: 578px;
}
.content-8{
    height: 460px;
}
.content-9{
    height: 562px;
}
.content-10{
    height: 474px;
}



.text-2{
    position: static;
    left: 0%;
    right: 69.48%;
    top: 0%;
    bottom: 83.33%;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
   height: 22px;
    color: #C88A12;
  flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 40px;
    

   
}
.header{
    height: 132px;
}
.footer{
    height: 320px;
    position: relative;
}
.p{
    height: 22px;
}
.p-1{
    width: 580px;
    height: 44px;
    margin: auto;
    margin-top: 22px;
    line-height: 22px;
    
}
.p-2{
    width: 580px;
    height: 22px;
    margin: auto;
    margin-top: 22px;
    
}
.c-1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.c-1-1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    
}
.c-2{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}
.c-2-1{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
    
}
.p-3{
    display: flex;
    width: 580px;
    height: 22px;
    margin: auto;
    margin-top: 8px;

}
.p-3-1{
    width: 290px;
}
.p-4{
    width: 580px;
    height: 44px;
    margin-top: 8px;
    margin-left: 40px;
    line-height: 22px;
}
.p-8{
    width: 580px;
    height: 66px;
    margin-top: 8px;
    margin-left: 40px;
    line-height: 22px;
}
.p-5{
    width: 580px;
    height: 22px;
    margin-top: 20px;
    margin-left: 40px;
}
.label-1{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 206px;
   left: 40px;
   

}
.label-2{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 460px;
   left: 40px;

}
.label-2-1{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 430px;
   left: 40px;

}

.label-3{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 675.3px;
   left: 40px;

}
.label-3-1{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 645.3px;
   left: 40px;

}
.label-3-2{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 459.3px; 
   left: 40px;

}
.label-4{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 828px;
   left: 40px;

}
.label-4-1{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 796px;
   left: 40px;

}
.label-4-2{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 626px;
   left: 40px;

}
.label-5{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 922px;
   left: 40px;

}
.label-5-1{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 892px;
   left: 40px;

}
.label-5-2{
    position: absolute;
   width: 290px;
   height: 24px;
   background: #C88A12;
   top: 722px;
   left: 40px;

}

.c-3{
    font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 14px;

color: #FFFFFF;

}
.c-4{
    font-family: Arial;
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 22px;
}

.dk-1{
    position: absolute;
    width: 580px;
    height: 198px;
    border: 0.5px solid #ABABAB;
    top: 234px;
    left: 40px;
    display: flex;
}
.dk-1-2{
    position: absolute;
    width: 580px;
    height: 180px;
    border: 0.5px solid #ABABAB;
    top: 234px;
    left: 40px;
    display: flex;
}
.dk-1-3{
    position: absolute;
    width: 580px;
    height: 196px;
    border: 0.5px solid #ABABAB;
    top: 192px;
    left: 40px;
    display: flex;
}
.dk-1-4{
    position: absolute;
    width: 580px;
    height: 196px;
    border: 0.5px solid #ABABAB;
    top: 176px;
    left: 40px;
    display: flex;
}
.dk-1-5{
    position: absolute;
    width: 580px;
    height: 286px;
    border: 0.5px solid #ABABAB;
    top: 176px;
    left: 40px;
    display: flex;
}
.dk-1-6{
    position: absolute;
    width: 580px;
    height: 166px;
    border: 0.5px solid #ABABAB;
    top: 176px;
    left: 40px;
    display: flex;
}
.dk-1-7{
    position: absolute;
    width: 580px;
    height: 256px;
    border: 0.5px solid #ABABAB;
    top: 176px;
    left: 40px;
    display: flex;
}
.dk-1-8{
    position: absolute;
    width: 580px;
    height: 138px;
    border: 0.5px solid #ABABAB;
    top: 176px;
    left: 40px;
    display: flex;
}
.dk-1-9{
    position: absolute;
    width: 580px;
    height: 240px;
    border: 0.5px solid #ABABAB;
    top: 176px;
    left: 40px;
    display: flex;
}
.dk-1-10{
    position: absolute;
    width: 580px;
    height: 136px;
    border: 0.5px solid #ABABAB;
    top: 132px;
    left: 40px;
    display: flex;
}
.dk-2{
    position: absolute;
    width: 580px;
    height: 158px;
    border: 0.5px solid #ABABAB;
    top: 488px;
    left: 40px;
    display: flex;
}
.dk-2-1{
    position: absolute;
    width: 580px;
    height: 158px;
    border: 0.5px solid #ABABAB;
    top: 458px;
    left: 40px;
    display: flex;
}
.dk-3{
    position: absolute;
    width: 580px;
    height: 72px;
    border: 0.5px solid #ABABAB;
    top: 702px;
    left: 40px;
    display: flex;
}
.dk-3-1{
    position: absolute;
    width: 580px;
    height: 72px;
    border: 0.5px solid #ABABAB;
    top: 672px;
    left: 40px;
    display: flex;
}
.dk-3-2{
    position: absolute;
    width: 580px;
    height: 72px;
    border: 0.5px solid #ABABAB;
    top: 486px;
    left: 40px;
    display: flex;
}
.dk-4{
    position: absolute;
    width: 580px;
    height: 40px;
    border: 0.5px solid #ABABAB;
    top: 854px;
    left: 40px;
    display: flex;
}
.dk-4-1{
    position: absolute;
    width: 580px;
    height: 40px;
    border: 0.5px solid #ABABAB;
    top: 824px;
    left: 40px;
    display: flex;
}
.dk-4-2{
    position: absolute;
    width: 580px;
    height: 40px;
    border: 0.5px solid #ABABAB;
    top: 654px;
    left: 40px;
    display: flex;
}
.dk-5{
    position: absolute;
    width: 580px;
    height: 32px;
    border: 0.5px solid #ABABAB;
    top: 950px;
    left: 40px;
    display: flex;
}
.dk-5-1{
    position: absolute;
    width: 580px;
    height: 32px;
    border: 0.5px solid #ABABAB;
    top: 920px;
    left: 40px;
    display: flex;
}
.dk-5-2{
    position: absolute;
    width: 580px;
    height: 32px;
    border: 0.5px solid #ABABAB;
    top: 750px;
    left: 40px;
    display: flex;
}
.dk-1-a{
    width: 290px;
    line-height: 22px;
}
.kc{
    margin-top: 8px;
}
.line{
    width: 580px;
    margin: auto;
    margin-top: 212px;
}
.war-w{
    font-family: Arial;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #ED2024;
}

.war{
    margin-top: 604px;
    margin-left: 40px;
}
.war-1{
    margin-top: 574px;
    margin-left: 40px;
}
.war-2{
    margin-top: 388px;
    margin-left: 40px;
}
.w-1{
    
    text-align: center;
    top: 40px;
    left: 70px;
    position: absolute;
    width: 660px;
    
}
.w-1-1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C88A12;

}

.circle-1{
    position: absolute;
    top: 64px;
    left: 328px;

}
.circle-2{
    position: absolute;
    top: 64px;
    left: 380px;

}
.circle-3{
    position: absolute;
    top: 64px;
    left: 432px;

}
.fb{
    position: absolute;
    top: 73.5px;
    left: 343px;
}
.yt{
    position: absolute;
    top: 76.5px;
    left: 389.4px;
}
.ins{
    position: absolute;
    top: 75.5px;
    left: 443.66px;
}
.w-1-a{
    
    text-align: center;
    top: 10px;
    left: 70px;
    position: absolute;
    width: 660px;
    
}


.circle-1-a{
    position: absolute;
    top: 34px;
    left: 328px;

}
.circle-2-a{
    position: absolute;
    top: 34px;
    left: 380px;

}
.circle-3-a{
    position: absolute;
    top: 34px;
    left: 432px;

}
.fb-a{
    position: absolute;
    top: 43.5px;
    left: 343px;
}
.yt-a{
    position: absolute;
    top: 46.5px;
    left: 389.4px;
}
.ins-a{
    position: absolute;
    top: 45.5px;
    left: 443.66px;
}
.line-2{
    top: 134px;
    left: 70px;
    margin: auto;
    width: 660px;
    border-top:1px solid #C88A12;
    position: absolute;
}
.line-2-a{
    top: 104px;
    left: 40px;
    margin: auto;
    width: 660px;
    border-top:1px solid #C88A12;
    position: absolute;
}
.footer-1{
    height: 134px;
}
.footer-1-a{
    height: 114px;
}
.p-6{
    width: 660px;
    height: 44px;
    padding-top: 8px;
    margin: auto;
    line-height: 22px;
}
.p-7{
    width: 660px;
    height: 22px;
    margin-top: 180px;
    margin-left: 40px;
    
}
.ft-lg-1{
    position: absolute;
    left: 70px;
    top: 212px;
}
.ft-lg-2{
    position: absolute;
    left: 70px;
    top: 238px;
}
.ft-lg-3{
    position: absolute;
    left: 70px;
    top: 264px;
}
.label-6{
    margin-top: 252px;
    margin-left: 40px;
    width: 148px;
    height: 22px;
}

.table-1{
    
    margin-top: 8px;
    margin-left: 40px;
    border: 0.5px solid #ABABAB;
    width: 580px;
   

}
.thead{
    display: flex;
}
.thebody{
    display: flex;
}
.tbd{
    
    width: 290px;
    height: 30px;
    border-bottom: 0.5px solid #ABABAB;
    text-align: center;
    padding-top: 4px;
    
}
.tbd-1{
    
    width: 290px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    
    
}
.tbd-2-1{
    
    width: 290px;
    height: 30px;
    border-left: 0.5px solid #ABABAB;
    text-align: center;
    padding-top: 4px;
    
    
}
.tbd-2{
    
    width: 290px;
    height: 30px;
    border-left: 0.5px solid #ABABAB;
    border-bottom: 0.5px solid #ABABAB;
    text-align: center;
    padding-top: 4px;
    
    
}

.ad{
    background: #C88A12;
    
    width: 290px;
    height: 28px;
    text-align: center;
    padding-top: 4px;

}
.add-2{
    background: #C88A12;
    
    width: 290px;
    height: 28px;
    text-align: center;
    padding-top: 4px;
    border-left: 0.5px solid #ABABAB;

}

.line-3{
    width: 580px;
    margin: auto;
    margin-top: 28px;
}
.line-4{
    width: 580px;
    margin: auto;
    margin-top: 342px;
}
.line-5{
    width: 580px;
    margin: auto;
    margin-top: 222px;
}
.line-6{
    width: 580px;
    margin: auto;
    margin-top: 312px;
}
.line-7{
    width: 580px;
    margin: auto;
    margin-top: 194px;
}
.line-8{
    width: 580px;
    margin: auto;
    margin-top: 296px;
}
.line-9{
    width: 580px;
    margin: auto;
    margin-top: 28px;
}
.ng{
    font-family: Arial;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}
.flower{
    position: absolute;
    top: 456px;
    right: 0px;
}
.flower-2{
    position: absolute;
    top: 1023.97px;
    right: 0px;
}
.flower-3{
    position: absolute;
    top: 993.97px;
    right: 0px;
}
.flower-4{
    position: absolute;
    top: 807.97px;
    right: 0px;
}
.flower-5{
    position: absolute;
    top: 639.97px;
    right: 0px;
}
.flower-6{
    position: absolute;
    top: 639.97px;
    right: 0px;
}
.flower-7{
    position: absolute;
    top: 503.97px;
    right: 0px;
}
.flower-8{
    position: absolute;
    top: 386.97px;
    right: 0px;
}
.flower-9{
    position: absolute;
    top: 369.97px;
    right: 0px;
}
.flower-10{
    position: absolute;
    top: 477.97px;
    right: 0px;
}
.flower-11{
    position: absolute;
    top: 355.97px;
    right: 0px;
}
.lblb{
    height: 22px;
width: 274px;
margin-top: 3px;
margin-left: 8px;


}
